.itemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-top: 10px;
    justify-content: space-between;
    border-radius: 5px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        #B2FF59, 
        #00C853
      ) 1 100%;
}
.cityNameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    width: 85%;
    height: 100%;
    cursor: pointer;
}
.itemIndex {
    margin-right: 10px;
}
.trashIcon {
    margin-right: 10px;
    cursor: pointer;
    color: #DD0612;
}