.appContainer {
  display: flex;
  flex-direction: row;
  background-image: url('../public/desktopBg.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}
body::-webkit-scrollbar {
  display: none;
}
@media (max-width: 800px) {
  .appContainer {
    background-image: url('../public/mobileBg.jpg');
  }
}